.link-color {
    color: #46750e;
}

.no-underline {
    text-decoration: none;
}

#with-love {
    padding: 2em;
    font-size: 135%;
    background-color: #8bce31;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    margin: 24px 0px 24px 0px;
}

img {
    height: 200px;
    width: 150px;

}

nav {
    border-bottom: 1px;
    border-bottom: solid black;
    padding: 16px;
    background-color: #ee6611;
}

.white-font {
    color: white;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    grid-template-rows: repeat(2, 1fr);
}

tr:nth-child(even) {
    background-color: rgb(192, 189, 189);
}
